# APACHE REWRITE FILE FOR CAPTURING REQUESTED PAGE THAT MAY NOT EXIST.
# USED TO CAPTURE THE INCOMING REQUEST

RewriteEngine On
# Check if the request is not for an existing file
RewriteCond %{REQUEST_FILENAME} !-f
# Check if the request is not for an existing directory
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite to your handler script with the URI as a parameter
RewriteRule ^(.*)$ /index.php?uri_payload=$1 [L,QSA]